* {
	padding: 0;
	margin: 0;
	}
a {
	text-decoration: none;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #eee;
	margin: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.item {
	margin: 20px;
}