	<div class="item">
		<div class="search">
			<div class="searchwrap">
				<input type="text" placeholder="Search...">
			</div>
		</div>
	</div>

	<div class="item">
		<div class="login">
			<form action="">
				<p>Sign in</p>
				<div class="wrap-name">
					<div class="wrap-inner">
						<input type="text" placeholder="Margot Johnson">
					</div>
				</div>
				<div class="wrap-pass">
					<div class="wrap-inner">
						<input type="text" placeholder="***********">	
					</div>
				</div>

				<button>Submit</button>
			</form>
		</div>
	</div>

	<div class="item">
		<div class="mail">
			<div class="block-icon">
				<ul>
					<li class='i1 _active'></li>
					<li class='i2'></li>
					<li class='i3'></li>
					<li class='i4'></li>
					<li class='i5'></li>
					<li class='i6'></li>
					<li class='i7'></li>
				</ul>
			</div>
			<div class="block-icon-name">Index</div>
			<div class="block-list">
				<ul>
					<li><a href="">Sed posuere consectetur est </a></li>
					<li class="read"><a href="">Maecenas faucibus mollis </a></li>
					<li class="read"><a href="" class="favorite">Euismod Ullamcorper Adipi</a></li>
					<li><a href="">Ridiculus Fringilla Tortor </a></li>
					<li class="read"><a href="">Nullam Vestibulum</a></li>
					<li class="read"><a href="" class="bookmark">Parturient Ipsum Porta </a></li>
					<!-- <li class="read"><a href="" class="bookmark">Parturient Ipsum Porta </a></li> -->
				</ul>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="columbia">
			<div class="col-img"><div class="col-inner"></div><div class="col-send"></div></div>
			<div class="col-name">Columbia Gorge, Oregon</div>
			<div class="col-text">The Columbia River is the largest river in the Pacific Northwest region of North America. The river rises in the Rocky Mountains of British Columbia, Canada. It flows northwest and then south into the US state of Washington form most of the border. </div>
		</div>
	</div>

	<div class="item">
		<div class="music">
			<div class="music-info">
				<div class="artist-photo"></div>
				<div class="song">
					<div class="song-artist">Swanee</div>
					<div class="song-time">
						<b>0:39</b>/<b>1:54</b>
					</div>
					<div class="song-volume"></div>
					<div class="song-title"><span>"The Best of Al Jolson"</span></div>
					<div class="song-track">
						<div style="width: 50%"><b></b></div>
					</div>
				</div>
			</div>
			<div class="songs">
				<ul>
					<li>
						<a href=""></a>
						<b>I’m Sitting on Top of the World</b>
						<span>1:49</span>
					</li>
					<li>
						<a href="" class="_stop"></a>
						<b>Swanee</b>
						<span>1:54</span>
					</li>
					<li>
						<a href=""></a>
						<b>Toot Toot Tootsie</b>
						<span>2:10</span>
					</li>
					<li>
						<a href=""></a>
						<b>Sonny Boy</b>
						<span>3:16</span>
					</li>
					<li>
						<a href=""></a>
						<b>Carolina in the Morning</b>
						<span>2:34</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="subscribe">
			<p>Sign Up Now</p>
			<div class="subscribe-wrap">
				<input type="text" placeholder="margotjohnson@mail.com">
			</div>
			<div class="subscribe-btn">
				<button>Subscribe</button>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="player">
			<div class="player-artist">Al Jolson</div>
			<div class="player-title">Swanee - 1920</div>
			<div class="player-control">
				<div class="player-time">2:27</div>
				<div class="next-btn"></div>
				<div class="prev-btn"></div>
			</div>
			<div class="player-btn"></div>
		</div>
	</div>


	<div class="item">
		<div class="navigate">
			<div class="nav-location"></div>
			<div class="nav-line">
				<span>+</span>
				<span>-</span>
				<div class="nav-name">
					<b>Hood river, OR</b>
				</div>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="profile">
			<div class="profile-photo"></div>
			<div class="profile-name">
				<img src="/images/profile.png" alt="">
				<p>Margot Johnson</p>
				<b>Home schooler</b>
			</div>
			<div class="profile-info">
				<p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus</p>
			</div>
			<div class="profile-stat">
				<ul>
					<li class="time"><div>12</div></li>
					<li class="user"><div>321</div></li>
					<li class="comment"><div>4</div></li>
				</ul>
			</div>
			<a class="profile-btn" href="">Full Profile &rarr;</a>
		</div>
	</div>
	
	<div class="item">
		<div class="weather">
			<div class="weather-days">
				<ul>
					<li>
						<p>Tues</p>
						<span>&uarr;54&deg;</span>
						<span>&darr;29&deg;</span>
					</li>
					<li>
						<p>Wed</p>
						<span>&uarr;52&deg;</span>
						<span>&darr;27&deg;</span>
					</li>
					<li>
						<p>Thu</p>
						<span>&uarr;51&deg;</span>
						<span>&darr;27&deg;</span>
					</li>
				</ul>
			</div>
			<div class="weather-photo">
				<img src="/images/cloud-icon.png" alt="cloud">
				<div class="weather-time">3:27 pm</div>
				<div class="weather-degree">34&deg;</div>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="chat">
			<div class="chat-list">
				<div class="chat-wrap">
					<input type="text" placeholder="Find Friends">
				</div>
				<ul>
					<li>
						<img src="/images/child1.png" alt="">
						<div class="chat-status online"></div>
						<div class="chat-name"><span>Tom Thorbert</span></div>
					</li>
					<li>
						<img src="/images/child2.png" alt="">
						<div class="chat-status online"></div>
						<div class="chat-name"><span>Sally Biggs</span></div>
					</li>
					<li>
						<img src="/images/child3.png" alt="">
						<div class="chat-status offline"></div>
						<div class="chat-name"><span>Phil Smith</span></div>
					</li>
				</ul>
				<a class="chat-more" href="">More &rarr;</a>
			</div>
			<div class="chat-social">
				<ul>
					<li><a class="twitter" href="twitter.com"></a></li>
					<li><a class="facebook" href="facebook.com"></a></li>
					<li><a class="dribbble" href="dribbble.com"></a></li>
					<li><a class="instagram" href="instagram.com"></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="btn">
			<a class="inbox" href="">Inbox</a>
		</div>
		<div class="btn">
			<a class="starred" href="">Starred</a>
		</div>
		<div class="btn">
			<a class="flagged" href="">Flagged</a>
		</div>
		<div class="btn">
			<a class="trash" href="">Trash</a>
		</div>
	</div>

	<div class="item">
		<div class="maps">
			<div class="maps-control">
				<div class="maps-icons">
					<ul>
						<li><a class="geo" href=""></a></li>
						<li><a class="send" href=""></a></li>
						<li><a class="search" href=""></a></li>
					</ul>
				</div>
				<div class="maps-city">Portland, Or</div>
			</div>

			<div class="maps-photo">
				<div class="maps-avatar"></div>
				<div class="maps-maincheckpoint"></div>
				<div class="maps-checkpoint check-1"></div>
				<div class="maps-checkpoint check-2"></div>
				<div class="maps-checkpoint check-3"></div>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="calendar">
			<div class="calendar-inner">
				<div class="calendar-control">
					<div class="calendar-prev-btn"></div>
					<div class="calendar-next-btn"></div>
					<p>Thursday</p>
					<span>Oct 20th, 2013</span>
				</div>
				<div class="calendar-table">
					<table>
						<thead>
							<td>Sun</td>
							<td>Mon</td>
							<td>Tue</td>
							<td>Wed</td>
							<td>Thu</td>
							<td>Fri</td>
							<td>Sat</td>
						</thead>
						<tr>
							<td>&nbsp;</td>
							<td>01</td>
							<td>02</td>
							<td>03</td>
							<td>04</td>
							<td>05</td>
							<td>06</td>
						</tr>
						<tr>
							<td>06</td>
							<td>07</td>
							<td>08</td>
							<td>09</td>
							<td>10</td>
							<td>11</td>
							<td>12</td>
						</tr>
						<tr>
							<td>13</td>
							<td>14</td>
							<td>15</td>
							<td>16</td>
							<td>17</td>
							<td>18</td>
							<td>19</td>
						</tr>
						<tr>
							<td class="_active">20</td>
							<td>21</td>
							<td>22</td>
							<td>23</td>
							<td>24</td>
							<td>25</td>
							<td>26</td>
						</tr>
						<tr>
							<td>27</td>
							<td>28</td>
							<td>29</td>
							<td>30</td>
							<td>31</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</table>
				</div>
				<div class="calendar-add-event"></div>
			</div>
		</div>
	</div>