.columbia {
		width: 260px;
		background-color: #fff;
	.col-img {
		position: relative;
		height: 155px;
		background-image: url(/images/oregon.jpg);
		background-position: 50%;
		background-size: cover;
	}
		.col-inner {
			position: absolute;
			left:50%;
			margin-left: -22px;
			top: 50%;
			margin-top: -21px;
			height: 45px;
			width: 42px;
			background-image: url(/images/searchbig.png);
			background-size: cover;
		}
			.col-send {
				position: absolute;
				width: 14px;
				height: 13px;
				bottom: 11px;
				right: 11px;
				background-image: url(/images/send.png);
				background-size: cover;
				cursor: pointer;
			}
	.col-name {
		padding: 10px 0;
		color: $orange;
		text-align: center;
		font-size: 13px;
	}
	.col-text {
		padding: 22px 22px 32px 22px;
		background-color: $orange;
		color: #fff;
		text-align: center;
		font-size: 11px;
	}
}